.btn-no {
  transition: left 0.05s linear, top 0.05s linear;
  position: absolute;
}

body {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}


.container {
    text-align: center;
}

h1 {
    font-weight: 300;
}

button {
    padding: 10px 40px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button.btn-yes {
    background-color: green;
}

button.btn-no {
    background-color: red;
}

div.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    margin-top: 30px;
}
